// Variables globales (puede sobreescribirlas antes de importar ED grid)
$cssCore    : false ;
$cssHelpers : false ;
$devMode    : false;

// Selectores (clases) para flex-container y flex-item
$container : container;
$item      : item;

// config
@import "config/colors";
@import "config/fonts";
@import "config/colors";
@import "config/fonts";
@import "functions/functions";
@import "functions/placeholders";
@import "config/variables";

//Layout
@import "layout/ed-grid";

// UI
@import "ui/master";

@import "base/base";

@import "mixins/mixins";
//theme
@import "theme/menus";
@import "theme/header";
@import "theme/footer";
@import "theme/main";
@import "theme/aside";

// modules
@import "modules/modules";
