-var title = "Titulo del sitio"
-var currentpage = "inicio"
-var description =  "descripcion del sitio"
-var author = "Sigma PCS contacto@sigmapcs.com.mx"
-var keyword = "Palabras clave"
-var sitename = "nombre del sitio"
-var urlsite = "www.misitio.com"
